.addUser{
    color: white;
    justify-content: center;
    text-align: center;
    display: grid;
    border-top: 1px solid rgba(11, 220, 11, 0.701);

    
}
.au_body{
    background-color: rgb(12, 43, 73);
    height: 100vh;
}
.userheading{
    height: 100px;
}
.userheading h1{
    margin-top: 0px;
    padding-top: 10px;
}
.au_content{
    display: flex;
    align-items: center;
}
.au_img{
    margin-right: 10px;
}
.formUser button{
    width: 100px;
    height: 25px;
    color: white;
    border: 2px solid rgb(20, 250, 20);
    background-color: rgb(12, 43, 73);
    border-radius: 10px;
    margin: 10px 0px;

}
.formUser button:hover{
    color: rgb(20, 250, 20);
    border: 2px solid white;
}
.formUser input{
    width: 240px;
    height: 25px;
    margin: 10px 0px;
    border: none;
    color: white;
    border-radius: 5px;
    border-bottom: 3px solid rgba(20, 250, 20, 0.734);
    background-color: rgb(12, 43, 73);
}
.formUser textarea{
    width: 240px;
    margin: 5px 0px;
    height: 40px;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid rgba(11, 220, 11, 0.701);
    background-color: rgb(12, 43, 73);
    margin-left: 10px;
    color: white;
}
.userName{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAge{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.userEmail{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.userPhno{
    display: flex;
    align-items: center;
    justify-content: space-between;

}