.adminNavbar{
    background-color: rgb(12, 43, 73);
    border-bottom: 1px solid rgba(11, 220, 11, 0.701);


}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links a{
    text-decoration: none;
    margin: 0px 15px;
    color: rgb(11, 220, 11);
}
.heading h1{
    color: rgb(102, 247, 102);

}